

.product-detail {
    
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
    margin: 0 auto;
}
.product-detail img {
    width: 90%;
}

.btn-secondary {
    width: 100px;
}


